# env variables & info
.env
code/.work-folder-info

# downloaded weights/models
code/yolov8s.pt
code/yolo11n.pt

# dataset
/code/Nematode*
/code/Notebooks No Tiling/Nematode*
/code/Notebooks Tiling/Nematode*
# predictions
/code/runs/detect/predict*
/dataset_v7
/original_dataset
/valid
/code/original_dataset
/code/SAHI/runs
/code/SAHI/final_predictions
/code/Notebooks No Tiling/runs
/code/Notebooks Tiling/runs
